<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Add the link to the CSS stylesheet here -->
    <!-- Hint: the link is relative to the public folder -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/e5b06066da.js"
      crossorigin="anonymous"
    ></script>
    <link href="./output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="title__bar-container">
      <div class="title__bar-item-left text-indigo-600">
        Welcome to EasyBlog
      </div>
      <div class="title__bar-item-right">
        <i class="fa-solid fa-feather"></i>
      </div>
      <h1 class="text-red-500">Hello world!j</h1>
    </div>

    <main></main>
  </body>
</html>
