* {
    padding: 0rem;
    margin: 0rem;
    
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000 */

.mulish-1000 {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}


.title__bar-container {
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title__bar-item-left,
.title__bar-item-right {
    padding: 1rem;
}

i {
    font-size: 2rem;
}
